# ADD YOUR ROOT PATH HERE.
ASSETS_TABLE=/home/NETID/groups/grp_quant/database/research/assets
CRSP_DAILY_TABLE=/home/NETID/groups/grp_quant/database/research/crsp_daily
CRSP_MONTHLY_TABLE=/home/NETID/groups/grp_quant/database/research/crsp_monthly
CRSP_EVENTS_TABLE=/home/NETID/groups/grp_quant/database/research/crsp_events
EXPOSURES_TABLE=/home/NETID/groups/grp_quant/database/research/exposures
COVARIANCES_TABLE=/home/NETID/groups/grp_quant/database/research/covariances
FF_TABLE=/home/NETID/groups/grp_quant/database/research/fama_french
CRSP_V2_DAILY_TABLE=/home/NETID/groups/grp_quant/database/research/crsp_v2_daily
CRSP_V2_MONTHLY_TABLE=/home/NETID/groups/grp_quant/database/research/crsp_v2_monthly

# BACKTESTER INFO
# Paths are relative to project root (or can be absolute)
SIGNAL_PATH=data/signal.parquet
WEIGHT_DIR=data/weights
LOG_DIR=logs
SIGNAL_NAME=signal
GAMMA=50
EMAIL=netid@byu.edu
CONSTRAINTS=["ZeroBeta", "ZeroInvestment"]

# SLURM CONFIGURATION
SLURM_N_CPUS=8
SLURM_MEM=32G
SLURM_TIME=03:00:00
SLURM_MAIL_TYPE=BEGIN,END,FAIL
SLURM_MAX_CONCURRENT_JOBS=30